/* ==== DS ==== */
button,
input,
textarea {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 4px;
  padding: 0.25rem;
}

.button {
  --background-color: var(--gray100);
  --focus-background-color: var(--gray200);
  background-color: var(--background-color);
  border-color: var(--gray100);
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
}

.button:focus,
.button:hover {
  background-color: var(--focus-background-color);
}

.button.outline {
  --background-color: transparent;
  --focus-background-color: var(--gray900);
  border-color: currentColor;
  color: var(--gray100);
}

label.field {
  display: grid;
  gap: 0.5rem;
}
/* == END DS == */
