:root {
  --gray050: hsl(220, 6%, 5%);
  --gray100: hsl(220, 6%, 10%);
  --gray200: hsl(220, 6%, 20%);
  --gray300: hsl(220, 6%, 30%);
  --gray400: hsl(220, 6%, 40%);
  --gray500: hsl(220, 6%, 50%);
  --gray600: hsl(220, 6%, 60%);
  --gray700: hsl(220, 6%, 70%);
  --gray800: hsl(220, 6%, 80%);
  --gray900: hsl(220, 6%, 90%);
}
